
.parent
{
  display:flex;
  justify-content:space-around;
  background-color: black;
  color:white;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  /* z-index:100; */
  height:75px;
}

.div2
{ 
  display: flex;
  align-items: center;
  
}

.apply
{
  border:1px solid grey;
  background-color: blueviolet;
  padding:13px;
  border-radius: 5px;
  cursor: pointer;
  font-size:18px;
  width: fit-content;
}

.bodyparent
{
  background-color: whitesmoke;
  height:100%;
  /* width:100%; */
  padding:20px;
}

.job1
{
  border:1px solid black;
  border-radius: 8px;
  padding:30px;
  background-color: aliceblue;
  display:flex; 
  gap:20px;
  /* display:grid;
  grid-template-columns:repeat(2,1fr); */

  
}

.parent1
{
  display:flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding:10px;
  
}

.jobcard1
{
  /* display:flex;
  justify-content: center; */
  display:grid;
  grid-template-columns:repeat(2,1fr);
  margin:90px;
  padding:60px;
  margin-top: 20px;
  gap:15px;

}





.form1
{
  display:flex;
  flex-direction: column;
  padding:40px;
  gap:10px;

}

input
{
  padding:10px;
}

.btndiv,.step
{ 
  display:flex;
  justify-content: space-between;
  gap:20px;
}

.btn
{
  padding:10px;
  width:120px;
  background-color: blueviolet;
  border:1px solid grey;
  border-radius: 5px;
}

.input2
{
  width:90%;
}

.modal1 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalblock 
{
  border: 1px solid black;
  background-color: white;
  width: 472px;
  height: 422px;
  padding: 20px;
  position: relative;

}

.span
{
  color:red;
}

.employees
{
  display:flex;
  flex-direction: column;
}

.next:disabled
{
  background-color: lightslategray;
  cursor:not-allowed;

}